<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Управление расписанием</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <ul class="menu">
        <li {{#if homePage}}class="active"{{/if}}>
            <a href="/">Главная</a>
        </li>
        <li {{#if schedulePage}}class="active"{{/if}}>
            <a href="/schedule">Расписание</a>
        </li>
        <li {{#if teachersPage}}class="active"{{/if}}>
            <a href="/teachers">Лекторы</a>
        </li>
        <li {{#if placesPage}}class="active"{{/if}}>
            <a href="/places">Аудитории</a>
        </li>
        <li {{#if schoolsPage}}class="active"{{/if}}>
            <a href="/schools">Школы</a>
        </li>
    </ul>

    <div class="container">
        {{{body}}}
    </div>

</body>
</html>