<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Управление расписанием</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <ul>
        <li>
            <a href="/">Главная страница</a>
        </li>
        <li>
            <a href="/schedule">Расписание</a>
        </li>
        <li>
            <a href="/teachers">Лекторы</a>
        </li>
        <li>
            <a href="/places">Аудитории</a>
        </li>
    </ul>

    {{{body}}}

</body>
</html>