<form action="/admin/new_place" method="post">
    <div class="form-field">
        <span>Название аудитории</span>
        <input value="" name="title" placeholder="Название аудитории" required />
    </div>
    <div class="form-field">
        <span>Вместимость</span>
        <input value="" name="capacity" placeholder="Вместимость" required />
    </div>

    <button type="submit">Добавить</button>
</form>