<form action="/places/{{place.id}}" method="post">
    {{#if updated}}
        <div class="message">Запись успешно сохранена. <a href="/places">Вернуться к аудиториям</a></div>
        <br>
    {{/if}}
    <div class="form-field">
        <span>Название аудитории</span>
        <input value="{{place.title}}" name="title" placeholder="Название аудитории" required />
    </div>
    <div class="form-field">
        <span>Вместимость</span>
        <input value="{{place.capacity}}" name="capacity" placeholder="Вместимость" required />
    </div>

    <button type="submit">Сохранить</button>
</form>