<table border="1">
    <tr>
        <th>Название</th>
        <th>Вместимость</th>
        <th>Удалить</th>
    </tr>
    {{#each places}}
        <tr>
            <td>
                <a href="/places/{{this.id}}">{{this.title}}</a>
            </td>
            <td>{{this.capacity}}</td>
            <td>
                <a class="remove_link" href="/remove_place/{{this.id}}">Удалить</a>
            </td>
        </tr>
    {{/each}}
</table>

<br>
<a class="new_link" href="/new_place">Добавить аудиторию</a>