<form action="/new_lecture" method="post">
    <div class="form-field">
        <span>Название лекции</span>
        <input value="" name="title" placeholder="Название лекции" required />
    </div>
    <div class="form-field">
        <span>Лектор</span>
        <input value="" name="teacher" placeholder="Лектор" required/>
    </div>
    <div class="form-field">
        <span>Место</span>
        <input value="" name="place" placeholder="Место проведения" required/>
    </div>
    <div class="form-field">
        <span>Дата</span>
        <input value="" name="date" placeholder="Дата" required/>
    </div>

    <button type="submit">Добавить</button>
</form>