<form action="/new_school" method="post">
    <div class="form-field">
        <span>Название школы</span>
        <input value="" name="title" placeholder="Название школы" required />
    </div>
    <div class="form-field">
        <span>Количество участников</span>
        <input value="" name="members" placeholder="Количество участников" required />
    </div>

    <button type="submit">Добавить</button>
</form>